<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django app Todo Edit todo</title>
</head>
<body>
    <form method="POST" action="{% url 'edit_todo' todo.id %}">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{ todo.title }}" required><br><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description" required>{{ todo.description }}</textarea><br><br>
        <button type="submit">Update Todo</button>
    
</body>
</html>