<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Todo App Login</title>
</head>
<body>
    <h1>Django Todo App Login</h1>

    <form method="POST" onsubmit="return validateForm()" action="{% url 'login' %}">
        {% csrf_token %}
        <label>
            Username:
            <input type="text" name="username" required>
        </label>
        <label>
            Password:
            <input type="password" name="password" required>
        </label>

        <button type="submit">Login</button>
    </form>
</body>
</html>