<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Todo App Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container bg-light p-5 rounded mt-5">
        <h1 class="mt-5">Django Todo App Login</h1>

    <form method="POST" onsubmit="return validateForm()" action="{% url 'login' %}" class="mt-4">
        {% csrf_token %}
        <label class="form-label">
            Username:
            <input type="text" name="username" class="form-control" required>
        </label>
        <label class="form-label">
            Password:
            <input type="password" name="password" class="form-control" required>
        </label>
        <a href="{% url 'register' %}" class="btn btn-link">No Account? Register Here</a>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    </div>
</body>
</html>