<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Todo App Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Django Todo App Register</h1>

        <form method="POST" action="{% url 'register' %}" class="mt-4">
            {% csrf_token %}
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            <label class="form-label">
                Username:
                <input type="text" name="username" class="form-control" required value="{{ username }}">
            </label>
            <label class="form-label">
                Email:
                <input type="email" name="email" class="form-control" required value="{{ email }}">
            </label>
            <label class="form-label">
                Password:
                <input type="password" name="password" class="form-control" required>
            </label>
            <label class="form-label">
                Confirm Password:
                <input type="password" name="confirm_password" class="form-control" required>
            </label>
            <a href="{% url 'login' %}" class="btn btn-link">Already have an account? Login Here</a>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</body>
</html>